@import 'lib';

.mkt-cloak {
    display: none;
}

.mkt-banner {
    background: $dark-gray;
    color: $white;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 1.3;
}

.mkt-banner-content {
    margin: 2px auto;
    max-width: $max-site-width;
    position: relative;
    text-align: center;

    .close {
        margin-top: -17px;
        top: 50%;
    }

    span {
        display: inline-block;
        margin-top: 10px;
        padding: 0;
    }


    a {
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
    }
}

.mkt-banner-firefox {
    .mkt-banner-content {
        background: url("../img/logos/firefox-64.png") no-repeat;
        background-position: 0 50%;
        background-size: 64px 60px;
        min-height: 60px;
        padding: 0 40px 0 70px;
    }

    a {
        background-color: $darker-gray;

        &:hover {
            background-color: darken($darker-gray, 10%);
        }
    }

    .close,
    .close:hover {
        background-color: transparent;
    }
}

.mkt-banner-success {
    background: $primary-green;

    .mkt-banner-content {
        font-size: 15px;
        font-weight: 500;
        padding: 0 10px;
    }

    small {
        font-size: 15px;
        font-weight: 400;
    }

    a {
        background-color: $dark-green;

        &:hover {
            background-color: darken($dark-green, 10%);
        }
    }
}

@media (min-width: 1025px) {
    .mkt-banner-content {
        padding: 0;
    }
}

@media $narrower-than-desktop {
    .mkt-banner small {
        display: none;
    }
}
